{% extends 'servicep/service_layout.html' %}
{% load static %}
{% block content %}

 <div class="col-lg-4 col-md-2 mb-md-0 mb-4">
    <div class="card">
      <div class="card-header pb-0">
        <h3>Edit Project</h3>
      </div>
      <div class="card-body">
        <form method="post" action="{% url 'update_project' %}" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label for="Category">Choose category:</label>
            <select id="category" name="category" class="form-control">
    {% for category in categories %}
        <option value="{{ category.cat_id }}" {% if category.cat_id == project.fk_cat_id %} selected='selected' {% endif %}>
            {{ category.cat_name }}
        </option>
    {% endfor %}
</select>

          </div>
          <div class="form-group">
            <label>Project Title</label>
            <input type="text" name="title" class="form-control" required value="{{project.proj_title}}">
          </div>
          <!-- <div class="form-group">
            <label for="image">Choose an image:</label>
            <input type="file" id="image" name="image" accept="image/*" class="form-control"> 
          </div> -->


           <input type="hidden" id="name" name="proj_id" class="form-control" value="{{ project.proj_id }}">



          <div class="form-group d-flex justify-content-end">
            <input type="submit" value="Save" class="btn btn-success mr-2">
            <input type="reset" value="Cancel" class="btn btn-danger">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}