{% extends 'servicep/service_layout.html' %}
{% load static %}
{% block content %}

<div class="row mb-4">
  <div class="col-lg-8 col-md-10 mb-md-0 mb-4">
    <div class="card">
      <div class="card-header pb-0">
        <h3>Portfolio</h3>
      </div>
      <div class="card-body">
        <div class="container mt-4">
          <div style="overflow-x: auto;">
          <table class="table table-bordered">
            <thead class="thead-light">
              <tr>
                <th>Portfolio Name</th>
                <th>Description</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for s in slist %}
              <tr>
                <td>{{ s.p_name }}</td>
                <td>{{ s.p_desc }}</td>
                <td>{{ s.status }}</td>

               
                <td>
                  <a href="{% url 'edit_portfolio' s.portfolio_id %}" class="btn btn-primary btn-sm">Edit</a>
                  <a href="{% url 'delete_portfolio' s.portfolio_id %}" class="btn btn-danger btn-sm">Delete</a>
                  <a href="{% url 'gallery_view' s.portfolio_id %}" class="btn btn-primary btn-sm">Gallery</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-2 mb-md-0 mb-4">
    <div class="card">
      <div class="card-header pb-0">
        <h3>Add Portfolio</h3> 
      </div>
      <div class="card-body">
        <form method="post" action="{% url 'save_portfolio' %}" enctype="multipart/form-data">
          {% csrf_token %}


          <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" class="form-control" required>
          </div>

          <div class="form-group">
            <label>Description</label>
            <input type="text" name="description" class="form-control" required>
          </div>


         <!-- Hidden fields for Project ID and Status -->
                <input type="hidden" name="fk_prj_id" class="form-control" value="{{ fk_prj_id }}">
                <input type="hidden" name="status" class="form-control" value="{{ status }}">
          <input type="hidden" id="name" name="proj_id" class="form-control" value="{{ project.proj_id }}">
          



          <div class="form-group d-flex justify-content-end">
            <input type="submit" value="Save" class="btn btn-success mr-2">
            <input type="reset" value="Cancel" class="btn btn-danger">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}