{% extends 'admin/admin_layout.html' %}
{% load static %} 
{% block content %}
<div class="row mb-4">
  <div class="col-lg-8 col-md-10 mb-md-0 mb-4">
    <div class="card">
      <div class="card-header pb-0">
        <h3>Gallery</h3>
      </div>
      <div class="card-body"> 
        <div class="container mt-4">
          <div style="overflow-x: auto;">

            <input type="hidden" name="portfolio_id" value="{{ portfolio.portfolio_id }}">

            <div class="form-group">
              <label for="name">Portfolio Name:</label>
              <input type="text" id="name" name="name" class="form-control" value="{{ portfolio.p_name }}" readonly>
            </div>
            
            <table class="table table-bordered">
              <thead class="thead-light">
                <tr>
                  <th>Image</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for gallery in gallery %}
                <tr>
                  <td><img src="{% get_media_prefix %}/{{gallery.image_name}}" width="70" height="70"></td>
                  <td>

                  {% if gallery.status == 'inactive' %}

                    <a href="{% url 'approve_gallery' gallery.gallery_id %}" class="btn btn-primary btn-sm">Approve</a>
                    <a href="{% url 'reject_gallery' gallery.gallery_id %}" class="btn btn-danger btn-sm">Reject</a>

                    {% elif gallery.status == 'active' %}
                     <a href="{% url 'reject_gallery' gallery.gallery_id %}" class="btn btn-danger btn-sm">Reject</a>

                     {% elif gallery.status == 'rejected' %}
                     <a href="{% url 'reason' gallery.gallery_id %}" class="btn btn-primary btn-sm">Write Reason</a>

                      {% endif %}


                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
